.table-header {
  height: 50px;
  background-color: #ddd;
  line-height: 50px;
  font-family: 'Arial';
  font-size: 15px;
  font-weight: 700;
}
table a {  
  color: #607d8b;
  transition: ease all .3s;
  -o-transition: ease all .3s;
  -moz-transition: ease all .3s;
  -webkit-transition: ease all .3s;
}
table a:hover {  
  color: #6bafd0;
  text-decoration: none;
}
table tr td {
  word-break: break-all;
}

.search-row {
  background-color: #607D8B;
  padding: 6px;
  color: #fff;
}
.search-row input {
  height: 50px;
}
.search-row h4 {
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
  margin: 0;
}

.search-issues {
  background-color: #34515f;
}
.search-issues h4 {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.tagcloud-container {
  background-color: #34515f;
}
ul.tagcloud {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}
ul.tagcloud li {
  display: inline-block
}
ul.tagcloud li span {
  background-color: #dcb113;
  border-radius: 6px;
  margin: 0 3px;
  padding: 2px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
ul.tagcloud li span:hover {
  background-color: #c7a011;
  text-decoration: none;
}
