<div class="main" ng-controller='IssueController'>
  <div class="search-results">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 search-repos form-inline">
          <h4>Issues<span class="badge">( {{ issues.total_count || 0}} )</span></h4>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped table-dark col">
            <thead>
              <tr>
                <th scope="col">Issue URL</th>
                <th scope="col">Title</th>
                <th scope="col">User</th>
                <th scope="col">Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="issue in issues.items">
                <td ng-bind="issue.html_url"></td>
                <td ng-bind="issue.title"></td>
                <td ng-bind="issue.user.login"></td>
                <td ng-bind="issue.comments"></td>
              </tr>
            </tbody>
          </table>

          <div class="text-center" ng-show="loading">
            <img src="./app/res/loading.gif" alt="" width="50" height="50">
          </div>
      </div>
    </div>
  </div>
</div>
