<div class="main" ng-controller='RepoController'>
    <div class="search-results">
      <div class="container">
          <div class="row search-row">
              <form class="search-repos col-6">
                  <input ng-model="searchText" ng-model-options='{ debounce: 1000 }' ng-change='searchRepo()' placeholder="Find a repo..." class="form-control input-sm"/>
               </form>
               <h4 class="d-flex justify-content-end col">Repo count: {{ repos.total_count || 0}}</h4>
          </div>
          <div class="row tagcloud-container">
            <div class="col">
              <ul class="tagcloud">
                <li class="" ng-repeat="tag in tags">
                  <span ng-click="tagClicked(tag)" ng-bind="tag"></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <table class="table table-striped table-dark col">
                <thead>
                  <tr>
                    <th scope="col">Expand</th>
                    <th scope="col">Github URL</th>
                    <th scope="col">Description</th>
                    <th scope="col">Fork</th>
                    <th scope="col">Stargazers</th>
                    <th scope="col">Issues</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat-start="repo in repos.items">
                    <td class="text-center">
                      <i class="fas fa-angle-down" ng-if="!repo.expanded" ng-click="expandSelected(repo)"></i>
                      <i class="fas fa-angle-up" ng-if="repo.expanded" ng-click="hideSelected(repo)"></i>
                    </td>
                    <td scope="row"><a href="/#!issues/{{ repo.full_name }}/">{{ repo.html_url }}</a></td>
                    <td ng-bind="repo.description"></td>
                    <td class="text-center" ng-bind="repo.forks_count"></td>
                    <td class="text-center" ng-bind="repo.stargazers_count"></td>
                    <td class="text-center" ng-bind="repo.open_issues_count"></td>
                  </tr>
                  
                  <tr ng-if="repo.expanded" ng-repeat-end="">
                    <td colspan="6">
                          <canvas  id="chart-container" ng-show="data" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
                        </td>
                  </tr>
                </tbody>
            </table>
        </div>
  
        <div class="text-center" ng-show="loading">
          <img src="./app/res/loading.gif" alt="" width="50" height="50">
        </div>
      </div>
    </div>
  </div>